@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    width: 350px;
}
.title {
    font-family: 'Raleway', sans-serif;
}

.des{
    font-family: 'Poppins', sans-serif;
}

.recordatorio{
    font-family: 'Poppins', sans-serif;
    color: #575F6E;
    font-size: 10px;
}
.letrab{
    font-family: 'Roboto', sans-serif;
    color: #242731;
    font-size: 16px;
    font-weight: 600;
}

.letrac{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

button{
    background-color: #007AFF;
}
.pre{
    font-family: 'Poppins', sans-serif;
    color: #575F6E;
    font-weight: 500;
    font-size: 10px;

}
.price{
    font-family: 'Roboto', sans-serif;
    color: #ff8b00;
    font-weight: 700;
    font-size: 13px;
}
.pricetag{
    font-family: 'Roboto', sans-serif;
    padding: 2px 8px;
    background-color: #007AFF;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 10px;
}


body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #4b556343;
    --sb-size: 6px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .dev{
    font-family: 'Poppins', sans-serif;
    color: #575F6E;
    font-size: 10px;
  }